* {
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;
}
p{
    text-indent: 1.5em;
    margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Candal', serif;
    color: #572e2ea4;
}

a{
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}
a:hover {
    color: white;
}
.btn {
    padding: .5rem 1rem;
    background: #572e2ea4;
    color: white;
    border: none;
    border-radius: .25rem;
    font-size: 1.08em;
    font-family: 'Lora', serif;
    transition: background 0.3s ease;
}
.btn:hover {
    color: #884b4b;
}
.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    color: #070707;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-family: 'Lora', serif;
}

/* NAVBAR */

header {
    background: #572e2ea4;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

header .logo{
    font-size: 1.5em;
}

header .logo-text span {
    color: #0ae6ee;
}

header ul{
    display: flex;
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float: left;
    position: relative;
}

header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    background: white;
    box-shadow: 0.2px 10px rgba(0, 0, 0, 0.1);
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: white;
    transition: background 0.3s ease;
}

header ul li ul li a.logout {
    color: red;

}

header ul li ul li a:hover {
    background: #d5d6d5;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    background:#572e2ea4;
    transition: 0.5s;
}

header .menu-toggle{
    display: none;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery-item {
    text-align: center;
    width: 30%;
    transition: transform 0.3s ease;
}
.gallery-item:hover{
    transform: scale(1.05);
}
.gallery img {
    width: 100%;
    border-radius: 5px;
    max-height: 200px;
    object-fit: cover;
}
.gallery p {
    text-align: justify;
    margin-bottom: 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background: #572e2ea4;
        max-height: 0px;
        overflow: hidden;
    }
    .showing {
        max-height: 100em;
    }
    header ul li{
        width: 100%;
    }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a {
        padding: 10px;
        background: #572e2ea4;
        color: white;
        padding-left: 50px;
    }
    header ul li ul li a:hover {
        background: #572e2ea4;
    }
    header ul li ul li a.logout {
        color: red;
    }
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }
    header .logo{
        margin-left: .5em;
    }
}